@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  background-size: cover;
}

body>div>button {
  opacity: 0;
  cursor: pointer;
}

#diamond {
  display: none;
  width: 4%;
  height: 7%;
  left: 81%;
  position: absolute;
  top: 46%;
}

#diamond2 {
  display: none;
  width: 4%;
  height: 7%;
  left: 81%;
  position: absolute;
  top: 55%;
}

#shield {
  display: none;
  position: absolute;
  left: 85%;
  width: 10%;
  height: 20%;
}

#fireball {
  width: 20%;
  height: 30%;
  position: absolute;
  display: none;
}

#key {
  width: 100px;
  height: 100px;
  display: none;
  position: absolute;
  top: 85%;
}

#sword1 {
  display: none;
  height: 10%;
  width: 5%;
  top: 88%;
  position: absolute;
  left: 8%;
}

#sword2 {
  display: none;
  height: 10%;
  width: 5%;
  top: 88%;
  position: absolute;
  left: 35%;
}

#swordFinal {
  display: none;
  width: 10%;
  height: 10%;
  position: absolute;
  top: 87%;
  left: 28%;
}

#torch {
  width: 100px;
  height: 100px;
  display: none;
  position: absolute;
  top: 85%;
  left: 8%
}

#msg {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 400%;
  text-transform: uppercase;
  margin-top: 20%;
  text-align: center;
}

.codebox {
  margin-left: 40%;
  margin-bottom: 10%;
}

#inputbox {
  border: 2px solid black;
  padding: 10px;
  text-align: center;
  display: none;
  width: 30%;
}

#submitbox {
  display: none;
  background-color: lime;
  border: 0px solid;
  margin-left: 2px;
  width: 279px;
  padding: 10px;
}

#submitbox:hover {
  border: 2px solid black;
}

#startBtn {
  position: absolute;
  display: block;
  color: black;
  font-size: 20px;
  font-weight: bolder;
  text-transform: uppercase;
}

#btn1 {
  position: absolute;
  display: block;
}

#btn2 {
  position: absolute;
  display: block;
}

#btn3 {
  position: absolute;
  display: block;
}

#btn4 {
  position: absolute;
  display: block;
}